* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-image: url(bg.jpg);
    font-family: monospace;
}

header{
    text-align: center;
}

header > h1 {
    font-size: 5rem;
    padding: 30px;
}

#header_navbar{
    display: flex;
    justify-content: center;
    gap : 30px;
    font-size: 1.1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 6px 0;

}

#header_navbar > a {
    text-decoration:underline;
    color: rgb(71, 71, 255);
}

#main_content{
    flex-grow: 1;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}


#main_form{
    width: 50%;
    height: 100%;
    gap: 30px;
}

#main_form > h2 {
    font-weight: 100;
    font-size: 4.5rem;

}

#main_form > button {
    color: white;
    font-size: 2rem;
    width: 110px;
    height: 70px;
    background-color: rgb(36, 36, 36);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;

}

#main_form > input {
    font-size: 1.8rem;
    width: 100%;
    height: 60px;
    border: 2px solid black;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
}



footer { 
    margin-top: auto;
    text-align: center;
    padding: 25px;
    background-color: rgb(83, 36, 253);
    color: white;
    font-size: 1.1rem;
}

#rules_main_content{
    font-size: 1.5rem;
}

#bold_text{
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

.input-item {
    font-family: monospace;
    width: 60px;
    border-radius: 5px;
    aspect-ratio: 2/3;
    border: 1px solid black;
    font-size: 2rem;
    text-align: center;
}

.item-separator {
    min-width: 3%;
    height: 0;
}